@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v10/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: calc(1em + 0.5vw);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
}

h1, h2, h3, h5,
.h1, .h2, .h3, .h5 {
  font-family: "Josefin Slab", Garamond, serif;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1.15;
}

h2, .h2 {
  font-size: 1.75rem;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h4, .h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h6, .h6 {
  font-weight: bold;
}

a {
  color: var(--link);
  text-decoration: underline;

  &:focus {
    outline: 3px dashed var(--link);
    outline-offset: 3px;
  }
}

blockquote {
  border-left: 4px solid var(--accent-faded);
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;

  p:last-child {
    margin-bottom: 0;
  }
}

code {
  background: var(--background-faded);
  border-radius: 0.2em;
  padding: 0.1em 0.2em;
}

img {
  max-width: 100%;
}

figure {
  background: var(--background-faded);
  margin: 0 0 1.5rem;
  padding: 0.5rem;
  width: max-content;
  max-width: 100%;
}

figcaption {
  font-size: 0.8em;
}

.video-embed {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

ul, ol, p, pre, .table-wrapper {
  margin: 0 0 1.5rem;
}

ul, ol {
  li {
    margin: 0 0 0.5rem;
  }
}

.table-wrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.table {
  border: 1px solid var(--border);
  border-collapse: collapse;
  border-spacing: 0;
}

.table tr,
.table .tr {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}

.table tr:nth-child(even),
.table .tr:nth-child(even) {
  background-color: var(--background-faded);
}

.table th,
.table .th {
  text-align: left;
}

.table th,
.table .th,
.table td,
.table .td {
  border-left: 1px solid var(--border);
  padding: .5em 1em;
}

.table th:first-child,
.table .th:first-child,
.table td:first-child,
.table .td:first-child {
  border-left: 0;
}

.support-table .false {
  background-color: var(--background-failure);
}

.support-table .true {
  background-color: var(--background-success);
}