@import '../node_modules/normalize.css/normalize';
@import 'prism-a11y-dark.scss';
@import '_typography';
@import '_colors';

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  min-height: 100vh;

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.header {
  flex: 0 0 260px;
  border-right: 3px solid var(--border-accent);
  min-height: 100%;
  outline: 10px solid var(--accent-light);
  padding: 1em;
  background-color: var(--header-background);

  @media screen and (max-width: 800px) {
    border-bottom: 3px solid var(--border-accent);
    border-right: none;
    margin-bottom: 1.5rem;
  }
}

.header-minimal {
  border-bottom: 3px solid var(--border-accent);
  padding: 1em;

  .back-link {
    width: max-content;
  }
}

.profile-info {
  border-bottom: 1px solid var(--accent-faded);
  font-family: "Josefin Slab", Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
  }
}

.main {
  flex: 1 1 auto;
  max-width: 1000px;
  overflow-x: auto;
  padding: 1em 1em 1em 2.5em;
}

.main-minimal {
  padding: 1em 1em 1em 2.5em;
}

.main-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 800px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  li {
    margin: 0;

    @media screen and (max-width: 800px) {
      margin: 0 0.5rem;
    }
  }

  a {
    color: var(--text);
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    padding: 0 5px 6px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200%;
      height: 5px;
      background: var(--accent-faded);
      background: linear-gradient(90deg, var(--accent) 0%, var(--accent) 50%, var(--accent-faded) 50%, var(--accent-faded) 100%);
      transform: translateX(-50%);
      transition: transform 0.3s ease-out;
    }

    &:hover::after,
    &.active::after {
      transform: translateX(0);
    }
  }
}

.item-list {
  list-style-type: none;
  padding: 0;

  .meta {
    font-size: 0.8rem;
    margin: 0 0 0.5rem;
  }
}

.meta {
  display: block;
  color: var(--text-faded);
  margin: -1.5rem 0 1.5rem;
}

.note {
  display: block;
  background-color: var(--background-faded);
  border-left: 4px solid var(--text-success);
  font-size: 1.1rem;
  margin: 1.5rem 0;
  padding: 0.5rem 2rem 1rem 1.5rem;

  &.alert {
    background-color: var(--background-failure);
    border-left-color: var(--text-failure);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.note-title {
  color: var(--text-success);
  font-weight: bold;

  .alert & {
    color: var(--text-failure);
  }
}

.post-footer {
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.back-link,
.top-link {
  align-items: center;
  background-color: var(--background-faded);
  border: 1px solid var(--border);
  border-radius: 3px;
  color: var(--text);
  display: flex;
  padding: 0.5em 1em 0.5em 1.25em;
  text-decoration: none;

  &:hover, &:focus {
    background-color: var(--background-inverse);
    color: var(--text-inverse);
  }

  &::before {
    content: "";
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    height: 0.5em;
    transform: translateX(-0.25em) rotate(45deg);
    width: 0.5em;
  }
}

.top-link::before {
  transform: translateX(-0.4em) rotate(135deg);
}