<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <title>{{ title }} | Sarah Higley</title>
  <link rel="canonical" href="{{ site.url + page.url }}" />
  <link rel="icon" type="image/png" href="{{ site.url }}/assets/avatar-round.png">
  <link rel="preload" href="https://fonts.gstatic.com/s/josefinslab/v10/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2" as="font" type="font/woff2" crossorigin>

  <meta property="og:site_name" content="Sarah Higley" />
  <meta property="og:title" content="{{ title }} | Sarah Higley" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url + page.url }}" />
  <meta name="twitter:creator" content="@codingchaos" />
  <meta property="og:image" content="{{ site.url }}/assets/avatar.png" />
  <meta name="twitter:image" content="{{ site.url }}/assets/avatar.png" />
  <meta property="og:image:alt" content="Illustrated avatar of Sarah" />
  <meta name="twitter:image:alt" content="Illustrated avatar of Sarah" />

  {% if summary %}
    <meta name="description" content="{{ summary }}" />
    <meta name="twitter:description" content="{{ summary }}" />
    <meta property="og:description" content="{{ summary }}" />
  {% endif %}

  <style type="text/css">{% include "assets/site.css" %}</style>
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="profile-info">
        <img src="/assets/sarah-avatar.svg" role="img" alt="Illustrated avatar of Sarah with a cat" class="profile-pic">
        Sarah Higley
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/" {% if page.url == '/' %}class="active" aria-current="page"{% endif %}>Home</a></li>
          <li><a href="/writing" {% if page.url.includes('writing') %}class="active" aria-current="page"{% endif %}>Writing</a></li>
          <li><a href="/speaking"  {% if page.url.includes('speaking') %}class="active" aria-current="page"{% endif %}>Speaking</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <h1 class="page-title" id="page-top">{{ heading }}</h1>

      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>
</html>
