<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <title>{{ title }} | Sarah Higley</title>
  <style type="text/css">{% include "assets/site.css" %}</style>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="profile-info">
        <img src="/assets/avatar.png" alt="Illustrated avatar of Sarah with a cat" class="profile-pic">
        Sarah Higley
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/" {% if page.url == '/' %}class="active" aria-current="page"{% endif %}>Home</a></li>
          <li><a href="/writing" {% if page.url.includes('writing') %}class="active" aria-current="page"{% endif %}>Writing</a></li>
          <li><a href="/speaking"  {% if page.url.includes('speaking') %}class="active" aria-current="page"{% endif %}>Speaking</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <h1 class="page-title" id="page-top">{{ heading }}</h1>

      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>
</html>
