{% extends 'templates/base.njk' %}

{% set heading = title %}
{% set items = collections.talk %}

{% block content %}
  <p>{{ content | safe }}</p>
  {% include 'templates/partials/talk-list.njk' %}
{% endblock %}